* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 1222px;
  background: url(Ellipse\ 4020.png) no-repeat center, #1d1f26;
}
.phone_1 {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  height: 800px;
  background: url(<path-to-image>),
    rgba(211, 211, 211, 0.1) 0% 0% / 100px 100px repeat;
  border-radius: 30px;
  margin-top: 46px;
  margin-left: 195px;
  position: relative;
}
.phone_1::after {
  position: absolute;
  content: "";
  height: 70%;
  width: 100%;
  background-color: #12151d;
  border-top-left-radius: 18%;
  border-top-right-radius: 18%;
  top: 200px;
  z-index: -2;
}
.tutun {
  position: absolute;
  z-index: -2;
  border-radius: 30px;
}
.top_1 {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-left: 15px;
}
.food_1 img:nth-child(1) {
  position: absolute;
  top: 54px;
  left: 70px;
  z-index: -1;
}
.food_1 img:nth-child(2) {
  position: absolute;
  top: 46px;
  left: 35px;
  z-index: -1;
}
.food_1 img:nth-child(3) {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -1;
}
.food_1 img:nth-child(4) {
  position: absolute;
  top: 205px;
  right: 0;
  z-index: -1;
}
.section_1 {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.section_1 h3 {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section_1 p {
  color: #686f82;
  text-align: center;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 270.955px;
  height: 35.96px;
  margin-top: 8px;
}
.card {
  display: flex;
  gap: 21px;
  align-items: center;
  margin-bottom: 65px;
}
.section_1-menyu {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section_1-menyu span {
  color: #686f82;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menyu_1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menyu_1-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 18px;
  padding: 0 20px;
}
.menyu_1-top h4 {
  color: #fff;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menyu_1-top span {
  color: #686f82;
  text-align: right;
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menyu_1-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 76px;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 15px;
  background: rgba(44, 47, 56, 0.64);
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 108px;
}
.box img {
  width: 40.254px;
  height: 36.429px;
  flex-shrink: 0;
  margin-bottom: 13px;
}
.box span {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.price_1-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  justify-content: center;
  align-items: center;
}
.price_1-top h4 {
  color: #9ca0af;
  text-align: right;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price_1-top span {
  color: #ff7269;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price_1-body {
  position: absolute;
  background-color: #ff7269;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 55px;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
}
